* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
    width: 200px;
}

#resultado {
    margin-top: 100px;
}

table,
th,
td {
    width: 500px;
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
}